body,h1,h3,h4{
	margin: 0;
}
a{
	text-decoration: none;
}
input{
	margin: 0;
	border: none;
	padding: 0;
}
img{
	vertical-align: top;
	border: none;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.firstpage{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.page{
	width: 962px;
	margin: 0 auto;
	/*background-color: #00BFFF;*/
}
.black{
	height: 30px;
	background-color: #2f2f2f;
	padding-left: 459px;
	color: #ffffff;
	padding-right: 10px;
}
.blackzuozi,.blackyouzi{
	font: 12px/30px arial,"微软雅黑";
	color: #b5b5b5;
	float: left;
	}
.blackzuozi{
	padding-left: 14px;
	padding-right: 10px;
}
.blackyouzi{
	padding: 0 10px;
}
.black span{
	color: #8b8b8b;
}
.blackzuoshu,.blackyoushu{
	width: 1px;
	background-color: #3d3d3d;
	float: left;
}
.blackzuoshu{
	height: 12px;
	margin-top: 9px;
}
.blackyoushu{
	margin-top: 8px;
	height: 14px;
}
.lvzuan,.erji{
	float: left;
	display: block;
}
.lvzuan{
	margin-top: 8px;
}
.erji{
	margin-top: 6px;
}
/*black*/
.zuo a{
	float: left;
	margin-top:31px ;
	height: 0px;
	width: 183px;
	padding-top: 54px;
	margin-right: 57px;
	overflow: hidden;
	background: url(../img/QQ.jpg) no-repeat;
}
.zhong{
	width: 428px;
}
.dalv a{
	font: 16px/37px arial,"微软雅黑";
	float: left;	
	padding-top:38px ;
	color: #515151;
}
.yyg{
	padding: 0 20px ;
}
.sq{
	padding: 0 17px;
}
/*.yyg和.sq：hover  不能这么写？*/
.yyg:hover,.sq:hover{
	
	background-color: #0dad51;
	font-weight: bold;
	color: #ffffff;
}
.xiaolv{
	margin-left: 2px;
}
.xiaolv a{
	float: left;
	font: 12px/38px "微软雅黑";
	padding-left:18px ;
	padding-right: 17px;
	color: #6e6e6e;
}
.xiaolv span{
	float: left;
	width: 1px;
	height: 11px;
	background-color: #d7c5d7;
	margin-top: 15px;
}
.xiaolv a:hover{
	font-weight: bold;
	color:#0dad51;
}
.search{
	height: 28px;
	width: 208px;
	border:1px solid #c3c3c3;
	padding-top: 1px;
	font: 12px/8px "微软雅黑";
	padding-left: 10px;
	color: #c3d3e4;
	background: url(../img/search.jpg) repeat-x;
}
.you{
	border: 4px solid #f0f0f0;
	position: relative;
	margin-top:38px;
	margin-left: 70px;
}
.fangdajing{
	position: absolute;
	left: 196px;
	top: 10px;
	display: block;
	width: 13px;
	height: 12px;
	overflow: hidden;	
}
.heixia{
	/*border-bottom: 1px solid #ddd;*/
	margin-bottom: 20px;
	width: 972px;
	margin: 0 auto;
	
}
.left{
	width: 700px;
	margin-left: 2px;
	/*background-color:#0DAD51 ;*/
	/*height: 3000px;*/
	margin-right: 40px;
	
}
.diyige{
	width: 700px;
	height: 280px;
	display: block;
}
.xuhao{
	position: relative;
	width: 700px;
	height: 280px;
	overflow: hidden;
	margin-bottom:40px ;
}
.ersyy,.erxyy{
	position: absolute;
	top: 105px;
	height: 70px;
	width: 35px;
}
.ersyy{
	left: 0;
}
.erxyy{
	right: 0;
}
.touer{

	width: 120px;
	height: 0px;
	padding-top: 30px;
	overflow: hidden;
	background: url(../img/header.jpg);
	border-left: 5px solid #ff0000;
}
.moreer{
	margin-left: 10px;
	margin-top: 13px;
	height: 0px;
	padding-top: 14px;
	width: 36px;
	overflow: hidden;
	background: url(../img/moreer.jpg) no-repeat;
}
.headerright{
	float: right;
}
.headerright a{
	float: left;
	height: 31px;
	width: 0px;
	padding-left: 32px;
	overflow: hidden;
}
.syy{
	background: url(../img/syy.jpg);
}
.xyy{
	background: url(../img/xyy.jpg);
}
.header{
	margin-bottom: 17px;
}
.contenter{
	width: 130px;
	height: 130px;
	overflow: hidden;
	position: relative;
	margin-right: 12px;
	margin-bottom: 10px;
}
.contenterbottomer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 126px;
	
}
.masker{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	height: 48px;
}
.masker .bger{
	background-color: #000000;
	opacity: 0.5;
	height: 48px;
	width: 130px;
}
.masker .shower{
	font: bold 14px/26px arial,"微软雅黑";
	color: #0cb636;
	height: 48px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.masker .nameer{
	height: 18px;
	font: 12px/18px arial,"微软雅黑";
	color: #FFFFFF;
	height: 18px;
}
.masker .shower,.masker .nameer{
	padding-left: 4px;
	display: block;
}
.itemer{
	margin-right:-12px ;
}
.tousan{
	height: 0;
	width: 102px;
	padding-top: 30px;
	overflow: hidden;
	background: url(../img/sanlogo.jpg) no-repeat;
	border-left:5px solid #ff7800 ;
}
.moresan{
	width: 36px;
	height: 0;
	padding-top:14px ;
	overflow: hidden;
	background: url(../img/moresan.jpg) no-repeat;
	margin-left: 13px;
	margin-top: 13px;
}
.headsanleft{
	margin-bottom: 18px;
	
}
/*san*/
.san{
	padding-bottom: 10px;
}
.itemsan{
	margin-right: -20px;
}
.listsan{
	
	width: 160px;
	margin-right: 20px;
	margin-bottom: 21px;
}
.picsan{
	position: relative;
	display: block;
	width: 160px;
	height: 90px;
	overflow: hidden;
	margin-bottom: 4px;
}
.jrsan{
	position: absolute;
		width: 32px;
		padding-top: 1px;
		height: 20px;
		font: 12px/20px;
		text-align: center;
		color: #FFFFFF;
		background-color:#ff6600 ;
		right: 9px;
		top: 0;
}
.songsan{
	font: 12px/24px "宋体";
	color: #0c8f44;
}
.singersan{
	color:#515151;
}
.newssan{
	font: 14px/22px "微软雅黑";
	color: #8b8b8b;
	overflow: hidden;
	width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.textsan time{
	font: 12px/23px "宋体";
	color: #b2a3c1;
	float: right;
}
/*三结束*/
/*四开始*/
.listsi{
	width: 350px;
	float: left;
}
/*.headsi{
	margin-bottom: 11px;
}*/
.yinyuehesi{
	padding-top: 11px;
	height: 446px;
}
.bian{
	border-left: 1px solid #E5E5E5;
	padding-left: 21px;
}
.yinyuehesiyi{
	
}
.tousi{
	height: 0;
	padding-top: 30px;
	width: 121px;
	overflow: hidden;
	background: url(../img/sitouyi.jpg) no-repeat;
	border-left: 5px solid #0dad51;
}
.hyg{
	background: url(../img/zuiretuijian.jpg) no-repeat;
}
.sibf{
	margin-right: 10px;
}
.sibutton{
	margin-left: 8px;
}
.silanguage{
	float: right;
}
.sihei,.silv{
	float: left;
	font: bold 12px/30px "微软雅黑";
}
.sihei{
	color: #333;
}
.silv{
	color: #0c8f44;
}
.sishu{
	float: left;
	width: 1px;
	height: 12px;
	background-color:#d8d8d8 ;
	margin: 10px 7px 0;
}
.songsi{
	font: 12px/36px "微软雅黑";
	color: #0c8f44;
	height: 36px;
	max-width: 193px;
	overflow: hidden;
	white-space:nowrap ;
	text-overflow: ellipsis;
}
.singersi{
	font: 12px/34px "微软雅黑";
	color: #515151;
	padding-top: 2px;
	height: 34px;
	margin-left: 3px;
}
.wu{
	padding-bottom: 88px;
}
.touwu{
	height: 0px;
	padding-top:30px ;
	width: 91px;
	overflow: hidden;
	background: url(../img/touwu.jpg);
	border-left: 5px solid #f3508d;
	
}
.headwu{
	margin-bottom: 18px;
}
.picdawu{
	margin-right: 15px;
}
.piczuowu{
	display: block;
	height: 270px;
	width: 270px;
	overflow: hidden;
}
.pictextwulv{
	display: block;
	font: 12px/22px "微软雅黑";
	color: #0c8f44;
}
.pictextwuhui{
	font: 12px/26px "微软雅黑";
	color: #8b8b8b;
}
.listwu{
	width: 130px;
	margin-right: 12px;
	margin-bottom: 28px;
}
.picwuxiao{
	display: block;
	width: 130px;
	height:130px;
	overflow: hidden;
}
.pictextwu{
	font: 12px/28px "微软雅黑";
	color: #0c8f44;
}
.itemwu{
	margin-right: -12px;
}
.right{
	width: 220px;
}
.first{
	height: 135px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
}
.zuotouyi{
	height: 0;
	padding-top: 30px;
	width: 220px;
	overflow: hidden;
	background: url(../img/zuotouyi.jpg) no-repeat;
	margin-bottom: 25px;
}
.yhdl{
	width: 178px;
	height: 51px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.second{
	display: block;
	height: 101px;
	width: 220px;
	overflow: hidden;
	margin-bottom: 25px;
}
.dfb{
	height: 0;
	padding-top: 30px;
	width: 54px;
	overflow: hidden;
	background: url(../img/dfb.jpg) no-repeat;
}
.lg,.rightthirdshu,.country{
	font: 12px/38px "微软雅黑";
	float: left;
}
.rightthirdshu{
	
	width: 1px;
	height: 12px;
	background-color: #d8d8d8;
	margin: 14px 7px 0;
}
.lg{
	color: #333;
}
.country{
	color: #0c8f44;
}
.rightthirdzhong{
	margin-bottom: 6px;
}

.num{
	font: 12px/24px "微软雅黑";
	color: #aaaaaa;
	margin-right: 28px;
	margin-top: 1px;
	
}
.rightwusong{
	font: 12px/24px "微软雅黑";
	color: #0c8f44;
	max-width: 90px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis ;
}
.rightwusinger{
	font: 12px/24px "微软雅黑";
	color: #515151;
	float: right;
	max-width: 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis ;
}
.rightitemwu{
	padding-bottom: 10px;
	border-bottom: 1px dotted #c6c6c6;
	/*width: 220px;*/
}
.itemliu{
	padding-top: 13px;
	padding-bottom: 14px;
	border-bottom: 1px solid #e4e4e4;
}
.listliu{
	width: 78px;
}
.liutext{
	float: left;
	font: 12px/24px "微软雅黑";
	color: #515151;
}
.liuliu{
	float: right;
	width: 64px;
	text-align: left;
}
.headqi{
	padding-top: 27px;
	padding-bottom: 8px;
}
.touqi{
	width: 72px;
	height: 0px;
	padding-top: 17px;
	overflow: hidden;
	background: url(../img/qiyi.jpg) no-repeat;
}
.moreqi{
	width: 36px;
	height: 0px;
	padding-top: 17px;
	overflow: hidden;
	background: url(../img/moreqi.jpg);
	margin-left: 9px;
	margin-bottom: 19px;
}
.itemqi{
	margin-right:-34px ;

	border-bottom: 1px dotted #c6c6c6;
	overflow: hidden;
}
.listqi{
	width: 50px;
	margin-right: 34px;
	margin-bottom: 10px;
}
.picqi{
	width: 50px;
	height: 50px;
}
.singerqi{
	font: 10px/30px arial,"微软雅黑";
	width: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis ;
}
.qi{
	overflow: hidden;
}
.itemba{
	padding-top: 6px;
	font: 12px/12px "微软雅黑";
	border-bottom: 1px solid #e4e4e4;
}
.batext{
	float: left;
	margin-top: 12px;
	color: #515151;
}
.listba{
	width: 86px;
}
.baba{
	float: right;
	width:48px ;
	margin-bottom: 7px;
}
.toujiu{
	height: 0;
	padding-top: 18px;
	width: 72px;
	overflow: hidden;
	background: url(../img/jiuyi.jpg) no-repeat;
}
.jiu{
	padding-top: 19px;
}
.headjiu{
	margin-bottom: 20px;
}
.picshi{
	width: 220px;
	height: 88px;
	overflow: hidden;
}
.textshi{
	font: 12px/22px arial,"微软雅黑";
	color: #0c8f44;
}
.listshi{
	margin-bottom: 9px;
}
.itemshi{
	padding-bottom: 18px;
	border-bottom: 1px solid #e4e4e4;
}
.foot{
	height: 260px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color:#f7f7f7;
	font: 12px/26px "微软雅黑";
	/*width: 927px;*/
	padding-top:29px ;
}
.sss{
	
	width: 972px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.zzzyihead{
	color: #757585;
	font: 16px/30px "微软雅黑";
}
.ppp{
	float: left;
	margin-right: 19px;
	color: #515151;
}
.rjxz{
	width: 288px;
	
}
.tscp{
	142px;
}
/*.zzzyi{
	margin-right: 80px;
}
.zzzer{
	margin-right: 70px;
}*/
.yfd{
	float: right;
	overflow: hidden;
}
.mf{
	margin-right: -19px;
	
}
.zzzyi{
	margin-right: 68px;
}
.listshiyi{
	width: 488px;
	height: 23px;
	margin: 0 auto;
}
.zhyhz{
	font: 10px/23px arial,"微软雅黑";
	color: #515151;
	float: left;
}
.zhygs{
	width: 1px;
	height: 12px;
	background-color:#af8baf ;
	float: left;
	margin: 6px 3px 0 3px;
}
.zhyhz span{
	color: #8b8b8b;
}

.lasttext{
	font: 10px/23px arial,"微软雅黑";
	color: #515151;
	margin: 0 auto;
	display: block;
	text-align: center;
}

