
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480765986781'); /* IE9*/
  src: url('iconfont.eot?t=1480765986781#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480765986781') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480765986781') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480765986781#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heiban:before { content: "\e609"; }
/**/
.icon-shuye2:before { content: "\e87b"; }
/**/
.icon-nanzhuang:before { content: "\e605"; }
/**/

.icon-552cc69ae7481:before { content: "\e615"; }
/**/

.icon-xiexue:before { content: "\e618"; }
/**/

.icon-yundong:before { content: "\e619"; }
/**/
.icon-zhubao:before { content: "\e61a"; }
/**/

.icon-baihuo:before { content: "\e61b"; }
/**/
.icon-meishi:before { content: "\e61f"; }
/**/
.icon-fangxiangpan-copy:before { content: "\e66b"; }
/**/
.icon-jiaju:before { content: "\e64b"; }
/**/
.icon-youxi:before { content: "\e6a5"; }
/**/

.icon-meizhuanggehu:before { content: "\e778"; }
/**/

.icon-book:before { content: "\e655"; }
/**/
.icon-muyingwanju:before { content: "\e718"; }
/**/

.icon-zhuangxiu:before { content: "\e60b"; }
/**/
